@use "../variables";
@use "../mixins";

.site-header {
    padding-top: 34px;
}

.site-header__wrapper {
    @include mixins.flexbox(row, center, space-around);
}

.nav__list {
    @include mixins.flexbox(row, center, flex-start);
    @include mixins.list-reset;
}

.nav__items:not(:last-child) {
    margin-right: 105px;
}

.nav__link {
    line-height: var(--main-line-height);
    font-weight: 500;
    color: var(--main-text-color);
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.nav__link:hover {
    color: #dbf301;
}

.site-header__link {
    line-height: var(--main-line-height);
    font-weight: 500;
    color: var(--main-text-color);
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.site-header__link:hover {
    opacity: 0.8;
}

.site-header__link:not(:last-child) {
    margin-right: 24px;
}

.site-header__link--active {
    padding: 14px 16px;
    background-color: rgba(163, 150, 150, 0.00);
    border: 1px solid #dbf301;
    border-radius: 10px;
}

.site-header__link--active:hover {
    background-color: #dbf301;
}