@use "../variables";
@use "../mixins";

.price {
    padding-bottom: 102px;
}

.price__wrapper {
    @include mixins.flexbox(row, stretch, flex-start);
}

.price__textbox {
    max-width: 550px;
    width: 100%;
}

.price__heading {
    margin: 0;
    font-size: 42px;
    line-height: 56px;
    font-weight: 600;
    color: var(--main-text-color);
}

.price__list {
    @include mixins.flexbox(row, center, space-between);
    @include mixins.list-reset;
}

.price__items {
    padding: 31px 65px 47px 65px;
    border: 1px solid #e5eaf1;
    background-color: #fff;
    border-radius: 12px;
    -webkit-transition: background-color 0.4s ease, all 0.4s ease;
    -o-transition: background-color 0.4s ease, all 0.4s ease;
    transition: background-color 0.4s ease, all 0.4s ease;
}

.price__items:hover {
    background-color: #485aff;
    color: #fff;
}

.price__items:not(:last-child) {
    margin-right: 66px;
}

.price__title {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 21px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    color: #0f172a;
    letter-spacing: -0.3px;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.price__title:hover {
    color: #fff;
}

.price__text {
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 26px;
    text-align: center;
    color: #4b5262;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.price__text:hover {
    color: #fff;
}

.price__bold {
    display: block;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    color: #0f172a;
    letter-spacing: -2px;
}

.price__inner-list {
    @include mixins.list-reset;
    margin-bottom: 35px;
}

.price__inner-items:not(:last-child) {
    margin-bottom: 10px;
}

.price__inner-link {
    display: block;
    line-height: 26px;
    text-align: center;
    color: #0f172a;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    opacity: 0.9;
}

.price__link-wrapper {
    @include mixins.flexbox(row, center, center);
}

.price__link {
    padding: 16px 50px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    background-color: #485aff;
    border-radius: 8px;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-transition: background-color 0.4s ease, color 0.4s ease;
    -o-transition: background-color 0.4s ease, color 0.4s ease;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.price__link:hover {
    background-color: #fff;
    color: #485aff;
}